* {
    padding: 0;
    margin: 0;
}

#content {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 1fr 8fr 1fr;
    gap: 12px 12px;
    grid-auto-flow: row;
    padding: 4px;
    background-image: url(./background2.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headingDiv {
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.211);
    backdrop-filter: blur(5px);
    grid-column: 1 / span 2;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
}

.projectsDiv {
    background: rgba(67, 67, 67, 0.432);
    backdrop-filter: blur(5px);
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.projectList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 8px;
}

.projectList > li {
    text-align: center;
    padding: 4px;
    margin: 4px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.31);
    backdrop-filter: blur(50px);
    color: whitesmoke;
}
.addProject {
    align-self: center;
    border: none;
    background-color: rgb(64, 254, 64);
    width: 100%;
    padding: 8px;
    border-radius: 6px;
}
.addProject:hover {
    /* background-color: ; */
    background: rgba(112, 255, 112, 0.83);
    backdrop-filter: blur(50px);
}

.selected {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 8px;
    padding: 4px;
}

.tasksDiv {
    background: rgba(67, 67, 67, 0.432);
    backdrop-filter: blur(10px);
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.tasksList > li.tasksListHeader {
    background: rgba(112, 255, 112, 0.441);
    backdrop-filter: blur(50px);
    color: whitesmoke;
}

.tasksItemDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    place-content: center;
}

.tasksItemDiv > p {
    justify-self: center;
}

.tasksList {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-auto-rows: 1fr; */
    align-items: center;
}

.tasksList > li {
    list-style-type: none;
    padding: 8px;
    margin: 4px;
    border-radius: 8px;
    background: rgba(168, 168, 168, 0.31);
    backdrop-filter: blur(50px);
    color: whitesmoke;
}
li.tasksListHeader {
    border: 1px solid rgb(255, 255, 255);
}

.check {
    justify-self: center;
    width: 20%;
}

.addTask {
    align-self: center;
    border: none;
    background-color: rgb(64, 254, 64);
    width: 100%;
    padding: 8px;
    border-radius: 6px;
}
.addTask:hover {
    background-color: rgb(112, 255, 112);
}

.addTaskForm {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.addTaskForm > input,
textarea {
    padding: 4px;
    border: none;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgb(35, 234, 25, 43);
}

.addTaskBtns {
    display: flex;
    justify-content: space-around;
}
.addTaskBtns > button {
    border: none;
    border-radius: 4px;
    padding: 4px;
    background-color: rgb(253, 253, 253);
}
.addTaskBtns > button:hover {
    background: rgb(212, 212, 212);
}

.editBtn {
    height: 30px;
    width: 60%;
    justify-self: center;
    align-self: center;
}

.editBtn {
    width: 100px;
    border: none;
    border-radius: 4px;
    padding: 4px;
    background-color: rgb(253, 253, 253);
}
.editBtn:hover {
    background: rgb(212, 212, 212);
}

.editTaskForm {
    grid-column: 1/7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    gap: 8px;
}

.editTaskForm > input,
textarea {
    height: 20px;
    padding: 4px;
    border: none;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgb(35, 234, 25, 43);
}

.editTaskBtns {
    grid-column: 1/3;
    display: flex;
    justify-content: space-around;
}
.editTaskBtns > button {
    width: 100px;
    border: none;
    border-radius: 4px;
    padding: 4px;
    background-color: rgb(253, 253, 253);
}
.editTaskBtns > button:hover {
    background: rgb(212, 212, 212);
}
button.deleteBtn{
    background-color: rgb(255, 0, 0)
}
button.deleteBtn:hover{
    background: rgb(209, 0, 0);
}


.footerDiv {
    grid-column: 1 / span 2;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.211);
    backdrop-filter: blur(5px);
}

.footer {
    text-decoration: none;
    text-align: center;
    font-weight: 400;
}
.footer > p > a {
    color: whitesmoke;
    padding: 2px;
    margin: 2px;
}
.footer > p > a:hover {
    padding: 2px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}
